/* The designs were created to the following widths:
  - Mobile: 375px
  - Desktop: 1440px */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

:root {
  /* TYPOGRAPHY */
  --font-ubuntu: 'Ubuntu', sans-serif;
  --size-font: 16px;
  --regular-weigth: 400;
  --medium-weigth: 500;
  --bold-weigth: 700;

  /* PRIMARY COLORS */
  --primary-marine-blue: hsl(213, 96%, 18%);
  --primary-purplish-blue: hsl(243, 100%, 62%);
  --primary-pastel-blue: hsl(228, 100%, 84%);
  --primary-light-blue: hsl(206, 94%, 87%);
  --primary-strawberry-red: hsl(354, 84%, 57%);

  /* NEUTRAL COLORS */
  --neutral-cool-gray: hsl(231, 11%, 63%);
  --neutral-light-gray: hsl(229, 24%, 87%);
  --neutral-magnolia: hsl(217, 100%, 97%);
  --neutral-alabaster: hsl(231, 100%, 99%);
  --neutral-white: hsl(0, 0%, 100%);
}

body {
  font-size: var(--size-font);
  margin: 0;
  font-family: var(--font-ubuntu);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
